@{
    ViewBag.Title = "About";
}
<h2>About Sparen: </h2>
</h3>

<p>Welcome to Sparen. We are an online only bank, meaning that our costs are lower and your interest is higher. We started our company in 2020
    after COVID19 made it scary for people to walk into a bank. We've partnered with thousands of ATMs to allow you to withdraw your money from 
    just about anywhere. </p>
